@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Saira+Stencil+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #9CAF88;
    color:bisque;
    
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #111;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 20px 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./a clean modern portf.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 84px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.hero p {
    font-size: 28px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Saira Stencil One', sans-serif;
}

.hero h1 span {
    color: #ff6f00;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #ff6f00;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* ABOUT */
.about, .projects, .contact {
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./a clean modern portf.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* PROJECTS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.project-card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
}

.project-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff6f00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.project-btn:hover {
    background: #ff8c00;
}

/* CONTACT */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    padding: 12px;
    border: none;
    border-radius: 5px;
}

/* MOBILE */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #111;
        width: 100%;
        padding: 20px;
    }

    .menu-toggle {
        display: block;
    }
}